body{
    margin: 150px;
}
.clear-div{
    clear: both;
    height: 70px;
}

.block1{
    display: flex;
}

.block2{
    display: flex;

}

.all{
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content;
    font: 15px 'Dancing Script', cursive;
}

.box1{
    background-image: url("a.jpg");
    background-size: cover;
    width: 700px;
    height: 500px;
    flex: 5;
    margin-right: 70px;
}

.box2{
    flex: 1;
}

.one{
    flex-direction: column;
}

.two{
    flex-direction: column;
}

.three{
    flex-direction: column;
}

.first{
    flex: 1;
}

.second{
    flex: 1;
}

.third{
    flex: 1;
}

.icon{
    width: 20px;
    height: 20px;
}

.intro{
    font-size: 40px;
}

.text{
    font: 15px 'Dancing Script', cursive;
}